.watchlist-card {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.25) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;

}

.dashboard {
    -webkit-box-shadow: 4px 0px 40px -20px rgba(0,0,0,0.91);
-moz-box-shadow: 4px 0px 40px -20px rgba(0,0,0,0.91);
box-shadow: 4px 0px 40px -20px rgba(0,0,0,0.91);
margin: 1em;
padding: 2em;
border-radius: 10px 10px 10px 10px;

}